//
// MOBILE - Landscape phone to desktop/tablet
// --------------------------------------------------

@if $use-responsive == true {


@include respond-to(mobile) {


    // AUTHOR'S CSS GOES HERE

    #header {
        .info, .nav, .social {
            float: none;
            display: block;
            width: 100%;
            margin: 0px auto;
            @include box-sizing(border-box);
        }
        nav {
            display: table;
            margin: 0px auto;
            ul  {
                li > a {
                    padding: 2px;
                    text-align: center;
                    font-size: $base-font-size - 2;
                    i {
                        font-size: $font-size-large;
                    }
                }
            }
        }
    }

    #posts {
        .post {
            @include clearfix;
        }
    }




    // ====================================================================================
    // DO NOT REMOVE FROM HERE
    // ====================================================================================


    // Helper Classes
    .hidden-desktop  { display: inherit !important; }
    .visible-desktop { display: none !important; }

    .hidden-tablet   { display: inherit !important; }
    .visible-tablet  { display: none !important; }

    .hidden-phone    { display: none !important; }
    .visible-phone   { display: inherit !important; }

    // Grid System
    .row {
        width: 100%;
    }
    [class*="span"],
    .row [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        @include box-sizing(border-box);
    }
    .span12,
    .row .span12 {
        width: 100%;
        @include box-sizing(border-box);
    }
    .row [class*="push"]:first-child {
        margin-left: 0;
    }

    // Form and Inputs
    textarea,
    #{$all-text-inputs},
    input.input-mini,
    input.input-small,
    input.input-medium,
    input.input-large,
    textarea.input-mini,
    textarea.input-small,
    textarea.input-medium,
    textarea.input-large,
    input[class*="span"],
    select[class*="span"],
    textarea[class*="span"] {
        @include input-size(full);
    }

    input[type="checkbox"],
    input[type="radio"] {
        border: 1px solid $gray-lighter;
    }
}

}