<section class="box">
    <div class="span3">
        <img class="box-thumb" src="{{ site.fullurl }}/{{ site.avatar }}">
    </div>
    <div class="span9">
        <section class="box-details">
            <h3>Vitor Britto</h3>
            <p>Full Stack Web Developer, extremamente apaixonado pelo seu trabalho (e Unix). Descobriu o mundo dos códigos há quase duas decádas e mantém a mesma paixão desde o primeiro dia dessa descoberta. Trabalha como freelancer full time há quase 4 anos desenvolvendo projetos voltados para a web. Também direciona boa parte do seu tempo para pesquisas, desenvolvimento de projetos open-source e escrever os artigos aqui publicados.</p>
        </section>
    </div>
</section>
