<nav>
    <ul class="menu">
        <li class="menu-item">
            <a href="{{ site.facebook }}" title="Facebook" target="_blank"><i class="icon-facebook"></i></a>
        </li>
        <li class="menu-item">
            <a href="{{ site.twitter }}" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
        </li>
        <li class="menu-item">
            <a href="{{ site.github }}" title="Github" target="_blank"><i class="icon-github"></i></a>
        </li>
        <li class="menu-item">
            <a href="{{ site.rssfeed }}" title="RSS Feed" target="_blank"><i class="icon-rss"></i></a>
        </li>
    </ul>
</nav>
