<div class="box">
    <div class="newsletter-wrapper">
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=vitorbritto', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <h3 class="newsletter-title">Receba os artigos no seu e-mail</h3>
        <p class="newsletter-text">Inscreva-se na minha newsletter para receber notificações de novos artigos no seu e-mail.</p>
        <input class="input" type="email" name="email" placeholder="Digite o seu email"/>
        <input type="hidden" value="vitorbritto" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input class="btn-newsletter" type="submit" value="Assinar Newsletter" />
    </form>
    </div>
</div>
