{% include header.html %}


<!-- Switch Theme -->
<div class="theme-wrapper">
    <p class="theme-text">Tema:</p>
    <span class="theme-btn light" id="theme-light"></span>
    <span class="theme-btn dark" id="theme-dark"></span>
</div>

    <div class="row">

        <article class="article">

            <img class="article-img" src="{{ site.baseurl }}{{ page.cover }}">
            <h2 class="article-title">{{ page.title }}</h2>
            <span class="article-date">Publicado em: {{ page.date | date:"%d/%m/%Y" }} | Por: {{ page.author }}</span>
            <div class="line"></div>

            <section class="article-entry">
                {{ content }}
            </section>

        </article>

        {% include author.html %}
        {% include newsletter.html %}

        <div class="line"></div>

        {% include disqus.html %}

    </div>

{% include footer.html %}
