{% include header.html %}

<!-- Switch Theme -->
<div class="theme-wrapper">
    <p class="theme-text">Tema:</p>
    <span class="theme-btn light" id="theme-light"></span>
    <span class="theme-btn dark" id="theme-dark"></span>
</div>

    <div class="row">

        <article class="article">

            <img class="article-img" src="{{ site.fullurl }}/{{ page.cover }}">
            <h2 class="article-title">{{ page.title }}</h2>

            <ul class="article-info">
                {% if page.path %}
                <li><a href="https://github.com/vitorbritto/vitorbritto.github.io/blob/master/_posts/{{ page.path }}" title="Github" target="_blank"><i class="icon-github"></i> Editar este post</a></li>
                {% endif %}
                <li>Publicado em: {{ page.date | date: "%d/%m/%Y" }} | </li>
                <li>{% if page.reading_time %}{{ page.reading_time }}{% else %}{{ page.content | reading_time }}{% endif %}</li>

            </ul>

            <div class="line"></div>

            <section class="article-entry">
                {{ content }}
            </section>

        </article>

        {% include author.html %}
        {% include newsletter.html %}

        <div class="line"></div>

        {% include disqus.html %}

    </div>

{% include footer.html %}
